#body {
    position: relative;
    background: #4169E1;
}


#container {
    margin: auto;
    padding: 2% 0 2% 0%;
    background: #5082ac;
    border-radius: 7px;
    width: 80%;
    height: 20%;
}